In [68]:
import pandas as pd

In [96]:
morsels_sales = pd.read_csv("./data/daily_sales_data_2.csv")

In [97]:
morsels_sales

                product  price  quantity        date region
0           pink morsel  $3.00       526  2020-10-13  north
1           pink morsel  $3.00       546  2020-10-13  south
2           pink morsel  $3.00       505  2020-10-13   east
3           pink morsel  $3.00       561  2020-10-13   west
4           gold morsel  $9.99       553  2020-10-13  north
...                 ...    ...       ...         ...    ...
13715  vermilion morsel  $4.99       475  2022-02-14   west
13716      lapis morsel  $1.99       425  2022-02-14  north
13717      lapis morsel  $1.99       454  2022-02-14  south
13718      lapis morsel  $1.99       483  2022-02-14   east
13719      lapis morsel  $1.99       427  2022-02-14   west

[13720 rows x 5 columns]

In [98]:
morsels_pink_price = morsels_sales["price"].str.replace('[\$\,]', '',regex=True).astype(float)

In [99]:
morsels_pink_quantity = morsels_sales["quantity"]

In [100]:
morsels_sales['sales'] = morsels_pink_price* morsels_pink_quantity

In [101]:
morsels_sales

                product  price  quantity        date region    sales
0           pink morsel  $3.00       526  2020-10-13  north  1578.00
1           pink morsel  $3.00       546  2020-10-13  south  1638.00
2           pink morsel  $3.00       505  2020-10-13   east  1515.00
3           pink morsel  $3.00       561  2020-10-13   west  1683.00
4           gold morsel  $9.99       553  2020-10-13  north  5524.47
...                 ...    ...       ...         ...    ...      ...
13715  vermilion morsel  $4.99       475  2022-02-14   west  2370.25
13716      lapis morsel  $1.99       425  2022-02-14  north   845.75
13717      lapis morsel  $1.99       454  2022-02-14  south   903.46
13718      lapis morsel  $1.99       483  2022-02-14   east   961.17
13719      lapis morsel  $1.99       427  2022-02-14   west   849.73

[13720 rows x 6 columns]

In [102]:
morsels_sales.drop('price', axis=1,inplace=True)

In [103]:
morsels_sales.drop('quantity', axis=1,inplace=True)

In [104]:
morsels_sales

                product        date region    sales
0           pink morsel  2020-10-13  north  1578.00
1           pink morsel  2020-10-13  south  1638.00
2           pink morsel  2020-10-13   east  1515.00
3           pink morsel  2020-10-13   west  1683.00
4           gold morsel  2020-10-13  north  5524.47
...                 ...         ...    ...      ...
13715  vermilion morsel  2022-02-14   west  2370.25
13716      lapis morsel  2022-02-14  north   845.75
13717      lapis morsel  2022-02-14  south   903.46
13718      lapis morsel  2022-02-14   east   961.17
13719      lapis morsel  2022-02-14   west   849.73

[13720 rows x 4 columns]

In [105]:
morsels_sales[morsels_sales["product"] == "pink morsel"].to_csv("third-modified-data.csv",index=False)